
#<  catalog         U64
#<  marker          U8
#<  ms              float32

SPITZER/Catalogs/45aa_irac.cat        rx  1

CFHT/Catalogs/r_megaprime.cat         bx  1

SUBARU/Catalogs/IA527_suprime.cat     yx  .5
SUBARU/Catalogs/g_subaru.cat          gx  .2

VISTA/Catalogs/H_vista.cat            cx  .5

GALEX/Catalogs/NUV_galex.cat          kx  2

